<nav>
    <div class="flex items-center justify-between flex-wrap bg-green-600 p-6">
        <a href="/">
            <h1 class="font-semibold text-xl text-orange-500 tracking-tight">Sam Blog</h1>
        </a>
        <ul class="flex">
            <li class="mr-6"><a class="font-bold hover:text-blue-800" href="/">Blogs</a></li>
            <li class="mr-6"><a class="font-bold hover:text-blue-800" href="/about">About</a></li>
            <li class="mr-6"><a class="font-bold hover:text-blue-800" href="/blogs/create">New Blog</a></li>
        </ul>
    </div>
</nav>