<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque minima, dolore alias sed nulla distinctio sapiente neque deleniti maiores repudiandae temporibus molestiae quibusdam quae accusamus ipsum cupiditate consectetur, hic dolor.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque minima, dolore alias sed nulla distinctio sapiente neque deleniti maiores repudiandae temporibus molestiae quibusdam quae accusamus ipsum cupiditate consectetur, hic dolor.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque minima, dolore alias sed nulla distinctio sapiente neque deleniti maiores repudiandae temporibus molestiae quibusdam quae accusamus ipsum cupiditate consectetur, hic dolor.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque minima, dolore alias sed nulla distinctio sapiente neque deleniti maiores repudiandae temporibus molestiae quibusdam quae accusamus ipsum cupiditate consectetur, hic dolor.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque minima, dolore alias sed nulla distinctio sapiente neque deleniti maiores repudiandae temporibus molestiae quibusdam quae accusamus ipsum cupiditate consectetur, hic dolor.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque minima, dolore alias sed nulla distinctio sapiente neque deleniti maiores repudiandae temporibus molestiae quibusdam quae accusamus ipsum cupiditate consectetur, hic dolor.</p>
    </div>
</body>
</html>